@model IEnumerable<ProjectDatabaseLib.Hotel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<h2>Index</h2>


@using (Html.BeginForm())

{<div style="position: absolute;
        margin-top: 50px;
        box-sizing:border-box;">
        <p>Hotel Name : <input type="text" id="MyId" name="id" /></p>
        <input style="" type="submit" value="search" />
    </div>
    foreach (var item in Model)
    {

        <div class="container" style="margin-top:50px">
            <div class="row"></div>
            <div class="card" style="width: 50%; margin-left: 25%; margin-right: 25%;">
                <img class="col" src="~/Content/assets/images/c1.jpg" alt="Card image cap" style=" width: 15%; height: 15%;">
                <div class=" col">
                    <h5> @Html.DisplayFor(modelItem => item.HotelName)</h5>
                    <h5>Hotel Price:  @Html.DisplayFor(modelItem => item.Price) </h5>
                    <h5>Hotel Type: @Html.DisplayFor(modelItem => item.Hoteltype) Star</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }

}